@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
  color:#fff;
}

button{
  background-color:#FF7F3E;
  border-radius:5px;
  width:300px;
  padding:10px;
}

input{
  color:#000;
  border-radius:4px;
  width:auto;
  padding:10px;
  margin-left:10px
}

select{
  color:#000;
  border-radius:4px;
  width:auto;
  padding:3px;
  margin-left:10px
}